body, html { margin: 0; padding: 0; height: 100%; width: 100%; font-family: sans-serif; background: #000; overflow: hidden; }
#map { height: 100vh; width: 100vw; z-index: 1; }
.mapa-cinza { filter: grayscale(100%) brightness(0.35) contrast(1.2); }

#top-bar { position: absolute; top: 15px; left: 15px; right: 15px; display: flex; justify-content: space-between; align-items: center; z-index: 2000; }
#search-container { background: white; display: flex; padding: 10px; border-radius: 12px; width: 220px; pointer-events: auto; }
#btn-menu-lateral { background: #001a33; color: #00ff99; border: 2px solid #00ff99; width: 45px; height: 45px; border-radius: 8px; font-size: 24px; cursor: pointer; }

#menu-lateral-65 { position: fixed; top: 0; right: -70%; width: 65%; height: 100%; background: #001a33; border-left: 5px solid #00ff99; z-index: 4000; transition: 0.4s; }
#menu-lateral-65.menu-active { right: 0; }
.conteudo-menu { padding: 120px 20px; }

#painel-rota { position: fixed; bottom: -25%; left: 0; width: 100%; height: 20%; background: rgba(0,0,0,0.95); border-top: 3px solid #00ff99; z-index: 5000; transition: 0.4s; display: flex; align-items: center; justify-content: center; color: white; text-align: center; }
#painel-rota.active { bottom: 0; }

#painel-full { position: fixed; top: 100%; left: 0; width: 100%; height: 100%; z-index: 9999; transition: 0.5s; color: white; display: flex; flex-direction: column; overflow: hidden; }
#painel-full.active { top: 0; }
.btn-fechar-full { position: absolute; top: 20px; right: 20px; background: rgba(255,255,255,0.2); border: none; color: white; width: 45px; height: 45px; border-radius: 50%; cursor: pointer; }
.scroll-area { padding: 80px 20px; overflow-y: auto; flex: 1; text-align: center; background: #001a33; }

.info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; padding: 20px; }
.info-card { background: rgba(255,255,255,0.07); padding: 18px; border-radius: 10px; border: 1px solid rgba(0,255,153,0.3); }
.info-card b { font-size: 1.2rem; color: #00ff99; }
.temp-principal { font-size: 5rem; font-weight: bold; margin: 15px 0; }

.card-alerta-antigo { background: rgba(255, 255, 255, 0.05); border-left: 6px solid #00ff99; margin: 20px 0; padding: 20px; text-align: left; }
.alerta-header { font-size: 1.2rem; font-weight: bold; color: #00ff99; margin-bottom: 10px; }
.alerta-body { font-size: 1rem; line-height: 1.6; white-space: pre-wrap; color: #e0e0e0; }

.emoji-icon { font-size: 55px; filter: drop-shadow(0 0 10px #000); cursor: pointer; pointer-events: auto !important; }
.btn-menu-item { background: #00ff99; border: none; padding: 15px; width: 100%; font-weight: bold; border-radius: 8px; color: #001a33; margin-bottom: 10px; }
.rota-icon { background: none; border: none; }
