body, html { margin: 0; padding: 0; height: 100%; width: 100%; font-family: sans-serif; background: #000; overflow: hidden; }
#map { height: 100vh; width: 100vw; z-index: 1; }
.mapa-cinza { filter: grayscale(100%) brightness(0.5) contrast(1.2); }

#top-bar { position: absolute; top: 15px; left: 15px; right: 15px; display: flex; justify-content: space-between; align-items: center; z-index: 2000; }
#search-container { background: white; display: flex; padding: 10px; border-radius: 12px; width: 220px; pointer-events: auto; }

#menu-lateral-65 { position: fixed; top: 0; right: -70%; width: 65%; height: 100%; background: #001a33; border-left: 5px solid #00ff99; z-index: 4000; transition: 0.4s; }
#menu-lateral-65.menu-active { right: 0; }
.conteudo-menu { padding: 110px 20px 20px; } /* Abaixei o MultiCamadas para liberar o X */

.btn-fechar-menu { position: absolute; top: 20px; right: 20px; background: none; border: none; color: #00ff99; font-size: 35px; cursor: pointer; z-index: 4001; }

#painel-rota {
    position: fixed; bottom: -25%; left: 0; width: 100%; height: 20%;
    background: rgba(0,0,0,0.95); border-top: 3px solid #00ff99; z-index: 5500;
    color: white; transition: 0.4s; display: flex; align-items: center; justify-content: center;
}
#painel-rota.active { bottom: 0; }

#painel-full { position: fixed; top: 100%; left: 0; width: 100%; height: 100%; z-index: 6000; transition: 0.4s; color: white; display: flex; flex-direction: column; text-align: center; }
#painel-full.active { top: 0; }

.btn-fechar-full { position: absolute; top: 20px; right: 20px; background: rgba(255,255,255,0.2); border: none; color: white; width: 45px; height: 45px; border-radius: 50%; cursor: pointer; }
.scroll-area { padding: 80px 20px; overflow-y: auto; flex: 1; }

.temp-principal { font-size: 4rem; font-weight: bold; }
.info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; padding: 20px; }
.info-card { background: rgba(255,255,255,0.15); padding: 15px; border-radius: 12px; font-size: 0.9rem; }
.emoji-icon { font-size: 50px; filter: none !important; display: flex; align-items: center; justify-content: center; }
.btn-menu-item { background: #00ff99; border: none; padding: 15px; width: 100%; font-weight: bold; border-radius: 8px; margin-bottom: 10px; cursor: pointer; }
