body, html { margin: 0; padding: 0; height: 100%; width: 100%; background: #000; font-family: 'Segoe UI', sans-serif; overflow: hidden; }
#map { height: 100vh; width: 100vw; z-index: 1; }

.leaflet-tile-pane { filter: none !important; }

/* Botão Menu com Pulsação de Alerta */
#btn-menu-lateral {
    position: absolute; top: 20px; right: 20px; z-index: 2000;
    background: #001a33; color: #00ff99; border: 2px solid #00ff99;
    width: 50px; height: 50px; border-radius: 10px; font-size: 24px; cursor: pointer;
}

#btn-menu-lateral.alerta-ativo {
    animation: pulsa-alerta 1s infinite;
    color: white; border-color: #ff0000;
}

@keyframes pulsa-alerta {
    0% { background: #660000; box-shadow: 0 0 0px #ff0000; }
    50% { background: #ff0000; box-shadow: 0 0 20px #ff0000; }
    100% { background: #660000; box-shadow: 0 0 0px #ff0000; }
}

#menu-lateral-65 {
    position: fixed; top: 0; right: -70%; width: 65%; height: 100%;
    background: #001a33; border-left: 5px solid #00ff99;
    z-index: 4000; transition: 0.4s; padding: 80px 20px 20px; overflow-y: auto;
}
#menu-lateral-65.menu-active { right: 0; }

.btn-camada {
    background: #00ff99; color: #001a33; border: none; padding: 15px;
    border-radius: 8px; font-weight: bold; width: 100%; margin-bottom: 10px; cursor: pointer;
    text-align: left; display: flex; align-items: center; gap: 10px;
}

#painel-full {
    position: fixed; top: 100%; left: 0; width: 100%; height: 100%;
    z-index: 5000; transition: top 0.4s; color: white; padding: 60px 20px;
    display: flex; flex-direction: column; align-items: center; overflow-y: auto;
}
#painel-full.active { top: 0; }

#search-container {
    position: absolute; top: 15px; left: 15px; width: 250px; z-index: 1000; 
    background: white; display: flex; padding: 10px; border-radius: 12px;
}
#search-container input { flex: 1; border: none; outline: none; }
