body, html { margin: 0; padding: 0; height: 100%; width: 100%; font-family: sans-serif; overflow: hidden; background: #000; }
#map { height: 100vh; width: 100vw; z-index: 1; background: #000; transition: 0.3s; }

#search-container { position: absolute; top: 15px; left: 15px; width: 250px; z-index: 1000; background: white; display: flex; padding: 10px; border-radius: 12px; }
#search-container input { flex: 1; border: none; outline: none; }

#btn-menu-lateral { position: absolute; top: 20px; right: 20px; z-index: 2000; background: #001a33; color: #00ff99; border: 2px solid #00ff99; width: 45px; height: 45px; border-radius: 8px; font-size: 24px; }

#menu-lateral-65 { position: fixed; top: 0; right: -70%; width: 65%; height: 100%; background-color: #001a33; border-left: 5px solid #00ff99; z-index: 4000; transition: 0.4s; }
#menu-lateral-65.menu-active { right: 0; }
.conteudo-menu { padding: 80px 20px; height: 90%; overflow-y: auto; }

/* LISTA DE CAMADAS EMBAIXO DO BOTAO */
.camada-btn-fixo { width: 100%; padding: 15px; margin-top: 10px; border: none; border-radius: 8px; font-weight: bold; background: #00ff99; color: #001a33; }
.camada-btn-fixo.storm { background: #ff4c4c; color: white; }
.camada-btn-lista { width: 100%; padding: 10px; margin-top: 5px; background: rgba(255,255,255,0.1); color: white; border: 1px solid #00ff99; border-radius: 5px; text-align: left; font-size: 11px; }

#interface-camadas { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.6); z-index: 5000; visibility: hidden; opacity: 0; display: flex; align-items: center; justify-content: center; }
#interface-camadas.camadas-active { visibility: visible; opacity: 1; }
.quadrado-camadas { width: 280px; height: 280px; background: white; border-radius: 15px; position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; }

#painel-full { position: fixed; top: 100%; left: 0; width: 100%; height: 100%; z-index: 3000; transition: 0.4s; color: white; padding: 60px 20px; display: flex; flex-direction: column; align-items: center; }
#painel-full.active { top: 0; }
.temp-principal { font-size: 5rem; font-weight: bold; }
.info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; width: 100%; }
.info-card { background: rgba(255,255,255,0.2); padding: 15px; border-radius: 15px; text-align: center; }

#login-screen { position: fixed; top:0; left:0; width:100%; height:100%; background:#000; z-index: 10000; display:flex; align-items:center; justify-content:center; }
.login-box { background:#001a33; padding:40px; border:3px solid #00ff99; border-radius:20px; text-align:center; color:#fff; }
.login-box input { display: block; margin: 10px auto; padding: 10px; border-radius: 5px; border: none; }
